# STEAM API KEY AND USER ID
STEAM_API_KEY="INSERT_YOUR_STEAM_API_KEY"
STEAM_ID="INSERT_YOUR_STEAM_ID"
# NICEGUI STORAGE SECRET (RANDOM STRING, KEEP IT SECRET)
NICEGUI_STORAGE_SECRET="DEFINE_A_RANDOM_LONG_PASSWORD"
# NEW: Dashboard Credentials
DASHBOARD_USER="YOUR_USERNAME"
DASHBOARD_PASS="YOUR_PASWORD"
# SYNC INTERVAL TO FETCH ACHIEVEMENT DATA (IN SECONDS, 0 TO DISABLE)
# HINT: STEAM HAS A RATE-LIMIT OF 100.000 REQUESTS PER DAY - RECOMMENDED VALUE: 86400 = 24 hours
SYNC_INTERVAL=0
# LOGGING LEVEL (DEBUG, INFO, WARNING, ERROR, CRITICAL) - DEFAULTS TO WARNING
# LOG_LEVEL=INFO